@import "../css/bourbon/bourbon";
@import "../css/neat/neat";

$column: 90px;
$gutter: 30px;
$grid-columns: 10;
$max-width: em(1088);

// Breakpoints
$mobile: new-breakpoint(max-width 960px 1);

body {
    margin: 2em;
}

article, aside {
    background: lightgrey;
}

h1, h2 {
    margin-left: 30px;
}

section {
    @include outer-container;
    border: 1px solid darkgrey;
    @include media($mobile) {
        float: none;
        width: 100%;
    }
}

article {
    @include span-columns(6);
}

aside {
    @include span-columns(4);
}

.col {
    @include span-columns(1);
    background: lightgreen;
    margin-top: 15px;
    min-height: 25px;
    text-align: center;
}
